<mat-card class="max-h-screen overflow-auto" appearance="raised">
  <mat-card-header>
    <mat-card-title
      [ngClass]="{ 'text-[--mat-sys-primary]': selectedTag === '' }"
    >
      ALL POSTS
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      @for (tag of tags; track tag.id) {
        <li class="mb-2">
          <app-tag-link
            class="hover:text-[--mat-sys-primary]"
            [ngClass]="{ 'text-[--mat-sys-primary]': selectedTag === tag.slug }"
            [tagName]="tag.name"
            [tagCount]="tag.count"
          />
        </li>
      }
    </ul>
    <!-- TODO: (Improvement) Implement next/previous. -->
    @if (more) {
      <div class="action-container">
        <button mat-button (click)="loadMore()">
          <mat-icon>arrow_forward</mat-icon> More
        </button>
      </div>
    }
  </mat-card-content>
</mat-card>
