<mat-card class="md:max-w-[30rem]" appearance="outlined">
  <!-- 16/9 container -->
  <div
    class="relative w-full cursor-pointer"
    style="padding-top: 56.25%"
    (click)="goToUrl(project.link)"
  >
    <div class="absolute top-0 left-0 w-full h-full rounded-t-xl">
      <img
        class="object-cover"
        mat-card-image
        [ngSrc]="project.thumbnail"
        fill
        priority
        alt="Project thumbnail"
      />
    </div>
  </div>

  <mat-card-header>
    <mat-card-title class="cursor-pointer" (click)="goToUrl(project.link)">{{
      project.title
    }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="h-28 overflow-hidden">
    <p class="mt-4">
      {{ project.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button (click)="goToUrl(project.link)">
      <mat-icon>arrow_forward</mat-icon>Learn more
    </a>
  </mat-card-actions>
</mat-card>
