<div
  class="flex flex-col md:flex-row mb-12"
  [ngClass]="{ 'md:flex-col': !isFullWidth }"
>
  <div class="flex-initial w-64">
    <p
      class="opacity-70 !mb-1 pl-3 md:pl-0"
      [ngClass]="{ 'md:pl-3': !isFullWidth }"
    >
      {{ post.publish | date: "MMM dd, y" }}
    </p>
  </div>
  <div class="flex-1">
    <p class="text-2xl font-medium !mb-0 pl-3">
      <a [routerLink]="postUrl">{{ post.title }}</a>
    </p>
    <p>
      @for (tag of post.tags; track tag) {
        <app-tag-link [tagName]="tag" />
      }
    </p>
    <p class="my-4 pl-3 opacity-70">
      {{ post.summary }}
    </p>
    <a [routerLink]="postUrl" [state]="{ apiUrl: post.url }" mat-button
      ><mat-icon>arrow_forward</mat-icon>Read more</a
    >
  </div>
</div>
