a {
  text-decoration: none;
  color: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.content.full-width {
  flex-direction: row;
}

.content > div:nth-child(1) {
  flex: 1;
  padding-left: 0.8rem;
}

.content > div:nth-child(2) {
  flex: 3;
}

.date {
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.summary {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title,
.summary {
  padding-left: 0.8rem;
}

.date,
.summary {
  opacity: 0.7;
}

/* Small */
@media (max-width: 959.98px) {
  .content,
  .content.full-width {
    flex-direction: column;
  }
}
