@let post = post$ | async;
@let similarPostPage = similarPostPage$ | async;

@if (post && similarPostPage) {
  @if ((restoreScrollPositionDelay$ | async) === 0) {
    <span appRestoreScrollPosition></span>
  }
  <p class="text-center opacity-70 !mb-1">
    {{ post.publish | date: "EEEE, MMM, d, yyyy" }}
  </p>
  <h1 class="text-center !text-3xl !font-medium md:!text-5xl">
    {{ post.title }}
  </h1>
  <hr class="mb-8" />

  <div class="flex flex-col md:flex-row">
    <div class="flex-none order-last md:w-56 md:order-first">
      <hr class="my-8 md:hidden" />
      <div class="mb-8">
        <div class="mb-2 text-xs font-medium opacity-70">TAGS</div>
        @for (tag of post.tags; track $index) {
          <app-tag-link class="mr-2 link" [tagName]="tag" />
        }
      </div>
      <hr class="hidden my-6 md:block" />
      <div class="mb-8">
        <div class="text-xs font-medium opacity-70">SIMILAR POSTS</div>
        <ul class="list-disc list-inside">
          @for (similarPost of similarPostPage.results; track similarPost.id) {
            <li class="mb-2">
              <a
                class="label-lg link"
                [routerLink]="UrlHelper.populatePostUrl(similarPost)"
                >{{ similarPost.title }}</a
              >
            </li>
          }
        </ul>
      </div>
      <hr class="hidden my-6 md:block" />
      <div class="flex md:flex-col gap-x-2">
        @if (post.previous) {
          <div class="flex-1">
            <div class="text-xs font-medium opacity-70">PREVIOUS POST</div>
            <a
              class="label-lg link"
              [routerLink]="UrlHelper.populatePostUrl(post.previous)"
              >{{ post.previous.title }}</a
            >
          </div>
        }
        @if (post.next) {
          <div class="flex-1">
            <div class="text-xs font-medium opacity-70 md:mt-6">NEXT POST</div>
            <a
              class="label-lg link"
              [routerLink]="UrlHelper.populatePostUrl(post.next)"
              >{{ post.next.title }}</a
            >
          </div>
        }
      </div>
      <hr class="hidden my-6 md:block" />
      <div class="mt-4">
        <a class="absolute -left-4" routerLink="/blog/page/1" mat-button>
          <mat-icon>arrow_back</mat-icon> Back to the blog
        </a>
      </div>
    </div>
    <div class="flex-1 pr-1 md:pl-9 md:w-96">
      <markdown
        clipboard
        [clipboardButtonComponent]="clipboardButton"
        [data]="post.body"
        [disableSanitizer]="true"
        (ready)="scrollToFragment()"
      ></markdown>

      <hr class="my-10" />

      <div #commentList id="comment-list" class="mb-10">
        @defer (on viewport(commentList)) {
          <app-comment-list [postId]="post.id" />
        }
      </div>
      <app-comment-form
        [postId]="post.id"
        (commentCreated)="addCommentToList($event)"
      />
    </div>
  </div>

  @if (isScrolling) {
    <button
      class="!hidden !fixed bottom-20 right-8 md:!inline"
      mat-icon-button
      (click)="viewportScroller.scrollToPosition([0, 0])"
      data-testid="scroll-to-top-button"
    >
      <mat-icon>arrow_upward</mat-icon>
    </button>
  }

  <button
    class="!hidden !fixed bottom-8 right-8 md:!inline"
    mat-icon-button
    (click)="viewportScroller.scrollToAnchor('comment-list')"
  >
    <mat-icon>comment</mat-icon>
  </button>
}
