@let post = post$ | async;
@let similarPostPage = similarPostPage$ | async;

@if (post && similarPostPage) {
  <p class="text-center opacity-70 !mb-1">
    {{ post.publish | date: "EEEE, MMM, d, yyyy" }}
  </p>
  <h1 class="text-center !text-3xl !font-medium md:!text-5xl">
    {{ post.title }}
  </h1>
  <hr class="opacity-40 mb-8" />

  <div class="flex flex-col md:flex-row">
    <div class="flex-none order-last md:w-56 md:order-first">
      <hr class="opacity-40 my-8 md:hidden" />
      <div class="pl-3 mb-2 text-xs font-medium opacity-70">TAGS</div>
      @for (tag of post.tags; track $index) {
        <app-tag-link [tagName]="tag" />
      }
      <hr class="hidden opacity-40 my-6 md:block" />
      <!-- TODO: Styling -->
      <div class="pl-3 mb-2 text-xs font-medium opacity-70">SIMILAR POSTS</div>
      <ul>
        @for (similarPost of similarPostPage.results; track $index) {
          <li>
            <a
              mat-button
              [routerLink]="UrlHelper.populatePostUrl(similarPost)"
              >{{ similarPost.title }}</a
            >
          </li>
        }
      </ul>
      <hr class="hidden opacity-40 my-6 md:block" />
      <!-- TODO: Styling -->
      @if (post.previous) {
        <div class="pl-3 mb-2 text-xs font-medium opacity-70">
          PREVIOUS POST
        </div>
        <a mat-button [routerLink]="UrlHelper.populatePostUrl(post.previous)">{{
          post.previous.title
        }}</a>
      }
      @if (post.next) {
        <div class="pl-3 mb-2 text-xs font-medium opacity-70">NEXT POST</div>
        <a mat-button [routerLink]="UrlHelper.populatePostUrl(post.next)">{{
          post.next.title
        }}</a>
      }
      <hr class="hidden opacity-40 my-6 md:block" />
      <div class="mt-4">
        <a routerLink="/blog/page/1" mat-button
          ><mat-icon>arrow_back</mat-icon> Back to the blog</a
        >
      </div>
    </div>
    <div class="flex-1 pr-1 md:pl-9 md:w-96">
      <markdown
        clipboard
        [clipboardButtonComponent]="clipboardButton"
        [data]="post.body"
        [disableSanitizer]="true"
        (ready)="scrollToFragment()"
      ></markdown>
    </div>
  </div>
}
