<div class="min-h-[20rem] md:min-w-[35rem]">
  <div class="border-b border-white/40 flex items-center gap-3 p-4">
    <mat-icon>search</mat-icon>
    <input
      class="flex-1 bg-inherit border-2 border-white/40 py-1 px-3 focus:outline-none focus:border-blue-500"
      type="search"
      placeholder="Search..."
      cdkFocusInitial
    />
    <span class="text-xs border rounded px-1 opacity-70">ESC</span>
  </div>

  <mat-dialog-content class="mat-typography !p-0 !pb-6">
    <p class="text-blue-500 font-medium px-4 pt-4 pb-2 !m-0">CONTENT</p>
    @if (data.searchResults$ | async; as searchResults) {
    <ul>
      @for (result of searchResults; track $index) {
      <li class="hover:bg-blue-500 px-4 py-2">
        <a [routerLink]="result.url" mat-dialog-close>
          <div class="text-xs opacity-70">
            {{ result.date | date : "EEE, MMM, d, yyyy" }}
          </div>
          <div class="text-base">{{ result.title }}</div>
        </a>
      </li>
      }
    </ul>
    } @else { @for (i of [1, 2, 3, 4, 5]; track $index) {
    <li class="px-4 py-2 animate-pulse">
      <div class="h-3 w-28 bg-slate-700 rounded mb-3"></div>
      <div class="h-4 w-72 md:w-96 bg-slate-700 rounded"></div>
    </li>
    } }
  </mat-dialog-content>
</div>
