<div #dialogContainer class="min-h-[20rem] md:min-w-[35rem]">
  <div class="border-b border-[--mat-sys-outline] flex items-center gap-3 p-4">
    <mat-icon>search</mat-icon>
    <input
      class="flex-1 bg-inherit border-2 border-[--mat-sys-outline] py-1 px-3 focus:outline-none focus:border-[--mat-sys-primary]"
      type="search"
      placeholder="Search..."
      cdkFocusInitial
      [formControl]="searchInput"
    />
    <span class="text-xs border border-[--mat-sys-outline] rounded px-1"
      >ESC</span
    >
  </div>

  <mat-dialog-content class="!p-0 !pb-6">
    <p class="text-[--mat-sys-primary] font-medium px-4 pt-4 pb-2 !m-0">
      CONTENT
    </p>

    @if (isLoaded && searchResult.items.length === 0) {
      <p class="text-base px-4">No results.</p>
    }

    <ul>
      @for (item of searchResult.items; track $index) {
        <a [routerLink]="item.url" mat-dialog-close>
          <li
            class="hover:bg-[--mat-sys-secondary] hover:text-[--mat-sys-on-secondary] px-4 py-2"
          >
            <div class="text-xs opacity-70">
              {{ item.date | date: "EEE, MMM, d, yyyy" }}
            </div>
            <div class="text-base">{{ item.title }}</div>
          </li>
        </a>
      }

      @if (!isLoaded) {
        @for (i of [1, 2, 3]; track $index) {
          <li class="px-4 py-2 animate-pulse list-none">
            <div class="h-3 w-28 bg-slate-700 rounded mb-3"></div>
            <div class="h-4 w-72 md:w-96 bg-slate-700 rounded"></div>
          </li>
        }
      }

      @if (isLoaded && searchResult.next) {
        <li #skeletonLoader class="px-4 py-2 animate-pulse list-none">
          <div class="h-3 w-28 bg-slate-700 rounded mb-3"></div>
          <div class="h-4 w-72 md:w-96 bg-slate-700 rounded"></div>
        </li>
      }
    </ul>
  </mat-dialog-content>
</div>
