<mat-drawer-container class="container mat-typography" autosize>
  <mat-drawer #drawer class="sidenav" mode="over" position="end">
    <div class="close">
      <button
        mat-icon-button
        aria-label="icon-button with close icon"
        (click)="drawer.close()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <ul>
      @for (item of menuItems; track $index) {
      <li>
        <a mat-button routerLink="{{ item.url }}">{{ item.name }}</a>
      </li>
      }
    </ul>
  </mat-drawer>

  <nav>
    <mat-toolbar>
      <span
        ><a class="nav-title" routerLink="/"
          ><img
            class="logo"
            ngSrc="logo.png"
            alt="Blog logo"
            width="40"
            height="40"
          /><span>Blog</span></a
        ></span
      >
      <span class="spacer"></span>

      <div class="menu">
        @for (item of menuItems; track $index) {
        <a
          *ngIf="item.name.toLowerCase() != 'home'"
          mat-button
          routerLink="{{ item.url }}"
          >{{ item.name }}</a
        >
        }
      </div>

      <button
        mat-icon-button
        class="icon-button"
        aria-label="icon-button with search icon"
      >
        <mat-icon>search</mat-icon>
      </button>

      <!-- TODO: Color scheme switch. -->
      <button
        mat-icon-button
        class="icon-button"
        aria-label="icon-button with color scheme icon"
      >
        @if (isDarkMode) {
        <mat-icon>dark_mode</mat-icon>
        } @else {
        <mat-icon>light_mode</mat-icon>
        }
      </button>

      <button
        mat-icon-button
        class="burger-menu"
        aria-label="icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </nav>

  <main>
    <router-outlet />
  </main>

  <footer>
    <div class="social-links">
      @for (link of socialLinks; track $index) {
      <div>
        <a href="{{ link.url }}" target="_blank">
          <img
            class="icon"
            ngSrc="{{ link.logoUrl }}"
            alt="{{ link.description }}"
            width="24"
            height="24"
          />
        </a>
      </div>
      }
    </div>
    <div class="copyright">
      <span class="text">Boon Yong · &copy; 2024 · Created with</span>
      <img
        class="icon"
        ngSrc="icons/angular.svg"
        alt="Angular logo"
        width="16"
        height="16"
      />
    </div>
  </footer>
</mat-drawer-container>
