<mat-drawer-container class="min-h-screen max-w-5xl mx-auto" autosize>
  <mat-drawer #drawer class="sidenav pt-5" mode="over" position="end">
    <div class="flex justify-end mr-4">
      <button
        mat-icon-button
        aria-label="icon-button with close icon"
        (click)="drawer.close()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <ul class="ml-8">
      @for (item of menuItems; track $index) {
        <li>
          <a
            class="!text-2xl mb-6"
            mat-button
            [routerLink]="item.url"
            (click)="drawer.close()"
            >{{ item.name }}</a
          >
        </li>
      }
    </ul>
  </mat-drawer>

  <nav>
    <mat-toolbar class="!py-14 !px-4">
      <a class="flex items-center" routerLink="/"
        ><img
          class="mr-2"
          ngSrc="logo.png"
          alt="Blog logo"
          width="40"
          height="40"
        /><span>Blog</span></a
      >
      <span class="flex-auto"></span>

      <div class="hidden md:inline-block">
        @for (item of menuItems; track $index) {
          <a
            *ngIf="item.name.toLowerCase() != 'home'"
            mat-button
            [routerLink]="item.url"
            >{{ item.name }}</a
          >
        }
      </div>

      <button
        mat-icon-button
        class="icon-button"
        aria-label="icon-button with search icon"
        (click)="openSearchDialog()"
      >
        <mat-icon>search</mat-icon>
      </button>

      <button
        mat-icon-button
        [matMenuTriggerFor]="themeModeMenu"
        class="icon-button"
        aria-label="icon-button with color scheme icon"
      >
        @switch (themeService.getTheme().mode) {
          @case (ThemeMode.Light) {
            <mat-icon>light_mode</mat-icon>
          }
          @case (ThemeMode.Dark) {
            <mat-icon>dark_mode</mat-icon>
          }
          @case (ThemeMode.System) {
            <mat-icon>contrast</mat-icon>
          }
        }
      </button>
      <mat-menu #themeModeMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="themeService.setMode(ThemeMode.Light)">
          <mat-icon>light_mode</mat-icon><span>Light</span>
        </button>
        <button mat-menu-item (click)="themeService.setMode(ThemeMode.Dark)">
          <mat-icon>dark_mode</mat-icon><span>Dark</span>
        </button>
        <button mat-menu-item (click)="themeService.setMode(ThemeMode.System)">
          <mat-icon>contrast</mat-icon><span>System</span>
        </button>
      </mat-menu>

      <button
        mat-icon-button
        class="md:!hidden"
        aria-label="icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </nav>

  <main class="pl-4 pr-4">
    <router-outlet />
  </main>

  <footer class="pt-12">
    @let theme = themeService.getTheme();

    <div class="flex justify-center">
      @for (link of socialLinks; track $index) {
        <div class="mx-2">
          <a href="{{ link.url }}" target="_blank">
            <img
              [ngClass]="{ invert: theme.isDarkMode }"
              ngSrc="{{ link.logoUrl }}"
              alt="{{ link.description }}"
              width="24"
              height="24"
            />
          </a>
        </div>
      }
    </div>
    <div class="mt-2 flex justify-center items-center mb-4 opacity-60">
      <span class="mr-1">Boon Yong · &copy; 2024 · Created with</span>
      <img
        [ngClass]="{ invert: theme.isDarkMode }"
        ngSrc="icons/angular.svg"
        alt="Angular logo"
        width="16"
        height="16"
      />
    </div>
  </footer>

  @if (loadingService.isLoading$ | async) {
    @if (!searchDialogService.isOpened) {
      <app-loading-overlay />
    }
  }
</mat-drawer-container>
