<nav>
  <mat-toolbar>
    <span>AngularBlog</span>
    <span class="example-spacer"></span>

    <!-- TODO: Refactor to links to navigate to page components. -->
    <div class="menu">
      <button mat-button>Blog</button>
      <button mat-button>Tags</button>
      <button mat-button>Projects</button>
      <button mat-button>About</button>
    </div>

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with search icon"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with color scheme icon"
    >
      @if (isDarkMode) {
      <mat-icon>dark_mode</mat-icon>
      } @else {
      <mat-icon>light_mode</mat-icon>
      }
    </button>

    <!-- TODO: Implement drawer menu. -->
    <button
      mat-icon-button
      class="burger-menu"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</nav>

<main>
  <router-outlet />
</main>

<footer>
  <div class="social-links">
    @for (link of socialLinks; track link.url) {
    <div>
      <a href="{{ link.url }}" target="_blank">
        <img
          class="icon"
          ngSrc="{{ link.logoUrl }}"
          alt="{{ link.description }}"
          width="24"
          height="24"
        />
      </a>
    </div>
    }
  </div>
  <div><p>Boon Yong · &copy; 2024 · Angular Blog</p></div>
</footer>
