hr {
  opacity: 0.6;
}

.content {
  display: flex;
}

.content > div {
  padding: 1.5rem;
}

.content > div:nth-child(1) {
  text-align: center;
}

.avatar {
  border-radius: 100%;
  margin-bottom: 1rem;
}

.name {
  font-size: 1.5rem;
}

.title {
  opacity: 0.6;
}

/* Medium */
@media (min-width: 960px) {
  .content > div:nth-child(1) {
    flex: 1;
  }

  .content > div:nth-child(2) {
    flex: 2;
  }
}

/* Small */
@media (max-width: 959.98px) {
  .content {
    flex-direction: column;
  }
}
