<h1>About</h1>
<hr class="opacity-40 mb-2" />

<div class="flex flex-col items-center md:flex-row">
  <div class="flex flex-col items-center p-6 flex-initial w-80">
    <div>
      <img
        class="rounded-full mb-4"
        ngSrc="avatar.png"
        alt="Avatar"
        width="192"
        height="192"
        priority
      />
    </div>
    <div>
      <p class="text-2xl !mb-2">Boon Yong</p>
    </div>
    <div>
      <p class="opacity-60 !mb-2">Software Engineer</p>
    </div>
  </div>
  <div class="p-6 flex-1">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui praesentium
      harum at officiis illum. Est delectus, reprehenderit hic, labore
      distinctio illo libero reiciendis enim, eligendi provident alias porro
      harum tempore?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui praesentium
      harum at officiis illum. Est delectus, reprehenderit hic, labore
      distinctio illo libero reiciendis enim, eligendi provident alias porro
      harum tempore?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui praesentium
      harum at officiis illum. Est delectus, reprehenderit hic, labore
      distinctio illo libero reiciendis enim, eligendi provident alias porro
      harum tempore?
    </p>
  </div>
</div>
