<div class="md:flex md:justify-center md:items-center md:mt-20 md:mb-4">
  <h1
    class="text-6xl font-extrabold md:text-8xl md:mb-0 md:pr-6 md:border-r-2 md:border-[--mat-sys-outline]"
  >
    404
  </h1>
  <div class="md:pl-6 md:max-w-lg">
    <p class="text-xl font-bold">Sorry we couldn't find this page.</p>
    <p>But don't worry, you can find plenty of other things on our homepage.</p>
    <a routerLink="" class="absolute -left-3" mat-button>
      <mat-icon>arrow_back</mat-icon> Back to Homepage
    </a>
  </div>
</div>
