@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font: var(--mat-sys-display-large);
    @apply mb-8 font-medium;
  }

  p {
    @apply mb-3;
  }

  hr {
    @apply border-[--mat-sys-outline];
  }
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}
