@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply display-lg mb-8;
  }

  p {
    @apply mb-3;
  }

  hr {
    @apply border-[--mat-sys-outline];
  }
}

@layer components {
  .display-lg {
    font: var(--mat-sys-display-large);
    @apply font-medium;
  }

  .title-lg {
    font: var(--mat-sys-title-large);
    @apply font-medium;
  }

  .label-lg {
    font: var(--mat-sys-label-large);
  }

  .link {
    @apply text-[--mat-sys-primary] hover:text-[--mat-sys-secondary];
  }
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}
